/PCpowerOn/RemoteSystemsTempFiles
/PCpowerOn/.metadata
/PCpowerOn/PCControlServer/PCPowerOnHost.log.lck
/PCpowerOn/PCControlServer/bin
/PCpowerOn/PCControlServer/lib
/PCpowerOn/PCControlServer/.classpath
/PCpowerOn/PCControlServer/.project
/PCpowerOn/PCControlServer/PCPowerOnHost.log
